<div id="page-content-images" data-scrollspy="images">
    <div class="row">
        <ctrl-image class="col-sm-6" ng-model="model.content.teaserImage" ng-height="imageSize.teaser.height" ng-width="imageSize.teaser.width" ng-tip="{{imageTip.teaser}}" ng-label="teaser image"></ctrl-image>
        <ctrl-image class="col-sm-6" ng-model="model.content.image" ng-height="imageSize.body.height" ng-width="imageSize.body.width" ng-tip="{{imageTip.body}}" ng-label="body image"></ctrl-image>
    </div>
</div>
<div class="row" id="page-content-teaser" data-scrollspy="teaser">
    <ctrl-html class="col-sm-12" ng-model="model.content.localized[language].teaser" ng-height="200" ng-validating="model.active[language]" ng-required="true" ng-label="teaser"></ctrl-html>
</div>
<div class="row" id="page-content-body" data-scrollspy="body">
    <ctrl-html class="col-sm-12" ng-model="model.content.localized[language].body" ng-height="200" ng-max-height="400" ng-validating="model.active[language]" ng-required="true" ng-label="body"></ctrl-html>
</div>
<div class="row" id="page-content-levels" data-scrollspy="level" ng-show="entity.properties.levels">
    <ctrl-node-list class="col-sm-12" ng-language="defaults.language" ng-model="model.content.levels" ng-domain="'courses'" ng-disabled="!entity.properties.levels" ng-entities="['courseLevel']" ng-options="{ parentId: id }" ng-label="levels">
        {{model.title[language]}}
    </ctrl-node-list>
</div>    
<div class="row" id="page-content-tutors" data-scrollspy="tutors" ng-show="entity.properties.tutors">
    <ctrl-data-list class="col-sm-12" ng-language="defaults.language" ng-model="model.content.tutors" ng-domain="'courses'" ng-list-id="'tutors'" ng-disabled="!entity.properties.tutors" ng-label="tutors">
        {{model.content.localized[language].firstName}} {{model.content.localized[language].lastName}}
    </ctrl-data-list>
</div>