<div class="row" id="page-content-body" data-scrollspy="body">
    <ctrl-html class="col-sm-12" ng-model="node.content.localized[language].body" ng-height="200" ng-max-height="400" ng-validating="node.active[language]" ng-required="true" ng-label="body"></ctrl-html>
</div>
<div class="row" id="page-content-tutors" data-scrollspy="tutors">
    <ctrl-data-list class="col-sm-12" ng-model="node.content.tutors" ng-domain="'courses'" ng-list-id="'tutors'" language="defaults.language" ng-label="tutors"></ctrl-data-list>
</div>