<div class="row" id="page-content-body" data-scrollspy="body">
    <ctrl-html class="col-sm-12" ng-model="node.content.localized[language].body" ng-height="200" ng-max-height="400" ng-validating="node.active[language]" ng-required="true" ng-label="body"></ctrl-html>
</div>
<div class="row" id="page-content-courses" data-scrollspy="courses" ng-show="entity.properties.courses">
    <ctrl-node-list class="col-sm-12" ng-language="defaults.language" ng-model="node.content.courses" ng-domain="'courses'" ng-disabled="!entity.properties.courses" ng-entities="['course']" ng-options="{ parentId: id }" ng-label="courses"></ctrl-node-list>
</div>    